<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.application">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Application"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBvQjZ15jD__Htt-F3TGvMp_ZWNw79JZv0" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".SetTimeLocation"
            android:exported="false"
            android:parentActivityName=".ShowMap">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ShowMap"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".view.LoginUI"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.AccountCreationUI"
            android:parentActivityName=".view.LoginUI" />
        <activity
            android:name=".view.InputPreferencesUI"
            android:parentActivityName=".CreateNewAccountVerifyEmail" />
        <activity
            android:name=".view.ChangePreferencesUI"
            android:parentActivityName=".ShowMap" /> <!-- Change to HomePage class -->
        <activity
            android:name=".ResetPassword"
            android:parentActivityName=".view.LoginUI" />
        <activity
            android:name=".Settings"
            android:parentActivityName=".ShowMap" />
        <activity android:name=".CreateNewAccountVerifyEmail" />
        <activity
            android:name=".DisplayRestaurantsList"
            android:parentActivityName=".ShowMap"/>
        <activity
            android:name=".DisplayRestaurant"
            android:parentActivityName=".DisplayRestaurantsList" />
        <activity android:name=".ResetPasswordLinkSent" />
        <activity android:name=".LoadingPage" />
        <activity android:name=".SettingTermsAndConditions"
            android:parentActivityName=".Settings"/>
        <activity android:name=".SettingsContactUs"
            android:parentActivityName=".Settings"/>




    </application>

</manifest>