<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.application">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Application"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginUser"
            tools:ignore="Instantiatable"
            />

        <activity android:name=".CreateNewAccount"
            android:parentActivityName=".MainActivity"
            />

        <activity android:name=".CreateUser"
            tools:ignore="Instantiatable"
            />

        <activity android:name=".InputPreferences"
            android:parentActivityName=".CreateNewAccountVerifyEmail"
            />

        <activity android:name=".view.ChangePreferences"
            android:parentActivityName=".MainActivity" /> <!--Change to HomePage class-->
            />


        <activity android:name=".ResetPassword"
            android:parentActivityName=".MainActivity"
            />

        <activity android:name=".ResetPasswordVerifyOTP"
            android:parentActivityName=".ResetPassword"
            />

        <activity android:name=".ResetPasswordEnterNewPassword"
            android:parentActivityName=".ResetPasswordVerifyOTP"
            />

        <activity android:name=".SignOut" />

        <activity android:name=".CreateNewAccountVerifyEmail" />






    </application>

</manifest>